$background: #161417;
$section: #262328;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $background;
  height: 100vh;
}

 .section {
   width: 100vw;
   max-width: 700px;
   height: 80vh;
   background: $section;
   border-radius: 4px;
 }
